/*Vamos a quitar los valores por defecto*/
*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos básicos de mi HTML*/
.encabezado, .contenido, .contenido_lateral, .pie_pagina {
    padding: 1em, 2em;
    /*cuando damos un padding, los elementos tienenden a expandirse más*/
}

.encabezado, .contenido_lateral, .pie_pagina {
    float: left; /*alinear elementos a la izquierda*/
    box-sizing: border-box; /*mantengan su tamaño definido sin tener que expandise más*/
}

.encabezado {
    background-color: rgb(247, 240, 22);
    height: 100px;
}

.contenido {
    width: 60%;
}

.contenido_lateral{
    background-color: rgb(163, 163, 113);
    height: 500px;
    width: 40%;
}

.post {
    background-color: rgba(117, 225, 26, 0.43);
    height: 100px;
    margin-bottom: 1em;
}

.pie_pagina {
    background-color: black;
    height: 50px;
    width: 100%;
}

/*Media Queries*/
@media screen and (min-width: 780px) and (max-width: 1024px) {
    .encabezado {
        background-color: rgb(246, 246, 243);
    }
    .contenido, .contenido_lateral {
        width: 50%;
    }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    .encabezado {
        background-color: rgb(25, 250, 250);
    }
    .contenido, .contenido_lateral {
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .encabezado {
        height: 80px;
    }
    .contenido {
        background-color: rgb(250, 168, 168);
    }
    .contenido_lateral {
        width: 100%;
    }
}