body {
    background-color: beige;
}

h1 {
    color: greenyellow;
    font-size: 100px;
}

.subtitulo {
    font-size: 50px;
}

#p1 {
    color: cadetblue;
}

.colorLetra {
    color: cornflowerblue;
}